/* Global Css */
* {
  font-family: "Press Start 2P", cursive;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 540px;
  padding: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
  margin: 20px 0;
  z-index: 0;
}

/* Main body CSS */
.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

.play-block {
  width: 90px;
  height: 90px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  user-select: none;

  position: relative;
  top: -668px;
  z-index: 1;
}


